<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftTableViewHeightCache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECF8D9BA1ED9DE1E00E5D6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF8D9CE1ED9DE1E00E5D6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF8D9D91ED9DE1E00E5D6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
